# Created by .ignore support plugin (hsz.mobi)
### PlayFramework template
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

.idea
.github
conf/database.conf
conf/mailer.conf
conf/silhouette.conf
project/project
project/artifact
devnet.iml
